header {
  --logomark-height: 3em;
  --logomark-padding: 0 1em;

  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem;
  color: var(--color-primary);
  text-align: center;

  h1 {
    @include logomark;
  }

  h2 {
    max-width: 30ch;
  }
}
