.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;

  &:focus {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0.5em;
  }
}

[class^="link"]:not(.link-codepen) {
  min-height: 3em;
  background-color: var(--color-background);
  color: var(--color-secondary);
  // box-shadow: 0 0.18em var(--color-primary);
  border-radius: 5px;
  border: 3px solid var(--color-primary);
}

[class^="link"]:not(.link-codepen),
.profile .container > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75em;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #{adjust-hue(#fff, 45deg)};
    transform: translateY(-0.25em);
  }

  &:focus {
    outline-color: transparent;
    outline-style: solid;
  }
}

// stylelint-disable-next-line no-descending-specificity
.page-footer [class^="link"] {
  width: 100%;
  min-height: 2.5em;
  background-color: var(--color-background);
  color: var(--color-primary);
}

.link-codepen {
  display: block;
  margin-top: 3rem;
  font-size: var(--font-size-h4);

  &::before {
    position: absolute;
    padding-right: 1.25em;
    transform: translate(15%, -90%) rotate(-3deg);
    background-image: url("../assets/black-hole.jpg");
    background-repeat: no-repeat;
    background-position: right 130%;
    background-size: 14%;
    color: #6f6ffd;
    font-size: 0.85em;
    content: "Jump right in";
  }
}

.link-allstyles {
  font-size: var(--font-size-h4);

  @media (max-width: 400px) {
    margin-left: 6rem;
  }
}

.link-github {
  svg {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
    fill: currentColor;
  }
}
